#include "resource.h"

IDB_MAINPANEL           BITMAP  DISCARDABLE     "bitmaps/Panel.bmp"
IDB_SWITCH              BITMAP  DISCARDABLE     "bitmaps/Switch.bmp"
IDB_BACKSEQUENCE        BITMAP  DISCARDABLE     "bitmaps/BackSequence.bmp"
IDB_SEQSWITCH           BITMAP  DISCARDABLE     "bitmaps/SeqSwitch.bmp"
IDB_GLOBEPANEL          BITMAP  DISCARDABLE     "bitmaps/GlobePanel.bmp"
IDB_EARTHGLOBE          BITMAP  DISCARDABLE     "bitmaps/earth.bmp"
IDB_ABORT               BITMAP  DISCARDABLE     "bitmaps/abort.bmp"
IDB_SEQLIGHT            BITMAP  DISCARDABLE     "bitmaps/SeqLight.bmp"
IDB_RINGSWITCH          BITMAP  DISCARDABLE     "bitmaps/ringswitch.bmp"
IDB_FLIGHTSWITCH        BITMAP  DISCARDABLE     "bitmaps/FlightSwitch.bmp"
IDB_PULLHANDLE          BITMAP  DISCARDABLE     "bitmaps/pullknob.bmp"
IDB_FLIGHTCONTROL       BITMAP  DISCARDABLE     "bitmaps/flight_controls.bmp"
IDB_PUSHBUTTON          BITMAP  DISCARDABLE     "bitmaps/pushbutton.bmp"
IDB_RDGLOBEPANEL        BITMAP  DISCARDABLE     "bitmaps/rdglobepanel.bmp"
IDB_RETRONUMBERS        BITMAP  DISCARDABLE     "bitmaps/retronumbers.bmp"
IDB_RETROHANDLEINCMIN   BITMAP  DISCARDABLE     "bitmaps/RetroHandeIncMin.bmp"
IDB_RETROHANDLEINCSEC   BITMAP  DISCARDABLE     "bitmaps/RetroHandeIncSec.bmp"
IDB_RETROHANDLEOFF      BITMAP  DISCARDABLE     "bitmaps/RetroHandleOff.bmp"
IDB_RETROWARN           BITMAP  DISCARDABLE     "bitmaps/retrowarn.bmp"
IDB_RETROGRADEPANEL     BITMAP  DISCARDABLE     "bitmaps/retrogradepanel.bmp"
IDB_PUSHBUTTON_FLIGHT   BITMAP  DISCARDABLE     "bitmaps/pushbutton_flight.bmp"
IDB_RETROHANDLEDECMIN   BITMAP  DISCARDABLE     "bitmaps/RetroHandleDecMin.bmp"
IDB_RETROHANDLEDECSEC   BITMAP  DISCARDABLE     "bitmaps/RetroHandleDecSec.bmp"
IDB_REPRESS_HANDLE      BITMAP  DISCARDABLE     "bitmaps/repress.bmp"
IDB_DECOMP_HANDLE       BITMAP  DISCARDABLE     "bitmaps/decompress.bmp"
IDB_PERISCOPE           BITMAP  DISCARDABLE     "bitmaps/periscope2.bmp"
IDB_ALT_KNOB            BITMAP  DISCARDABLE     "bitmaps/alt_knob.bmp"
IDB_FLIGHTCONTROL7      BITMAP  DISCARDABLE     "bitmaps/flight_controls7.bmp"
IDB_FUSEPANEL           BITMAP  DISCARDABLE     "bitmaps/fuse_panel.bmp"
IDB_RIGHTPANEL          BITMAP  DISCARDABLE     "bitmaps/panel_right.bmp"
IDB_KNOBAC              BITMAP  DISCARDABLE     "bitmaps/ACKnob.bmp"
IDB_KNOBDC              BITMAP  DISCARDABLE     "bitmaps/DCKNOB.bmp"
IDB_FUSESWITCHSTRIP     BITMAP  DISCARDABLE     "bitmaps/switch_striped_fuse.bmp"
IDB_FUSESWITCHWHITE     BITMAP  DISCARDABLE     "bitmaps/switch_white_fuse.bmp"
IDB_WARNLIGHTS          BITMAP  DISCARDABLE     "bitmaps/WarnLight.bmp"
IDB_CAMERAPANEL         BITMAP  DISCARDABLE     "bitmaps/camerapanel.bmp"
